# NOTE: We're only including things that would already be checked in to the repo
# So we're not including things like .tox -- that will never be committed
# We're excluding docs and tests

# Gitignored files
.*
[~#$]*
*[~#$]

# Gitignored directories
node_modules/

# Directories
/dist/
/docs/
/recipes/
/site/
/tests/

# Files in the root directory
/*.md
/*.txt
/CITATION.cff
/compose.yaml
/justfile
/mkdocs.yaml

# Keep README.md (needed for build)
!/README.md

# Keep .dockerignore and .gitignore
!/.dockerignore
!/.gitignore

# Keep legal files
!/LICENSE.*
!/NOTICE.txt
