# SPDX-FileCopyrightText: Copyright 2020-2025, Contributors to Tyrannosaurus
# SPDX-PackageHomePage: https://github.com/dmyersturnbull/tyrannosaurus
# SPDX-License-Identifier: Apache-2.0

# .gitignore for Python, Java/Scala/Kotlin, C/C++, JavaScript/TypeScript, and Julia.
# It also covers some common tools and IDEs, but it isn't meant to be comprehensive.
# Note that it doesn't cover obsolete Python files like Eggs (`*.egg`).
#
# The approach is to blacklist `.*` and similar patterns, then to whitelist specific files.
# This approach makes the file much simpler and easier to understand.
# Some of the rules are derived from <https://github.com/github/gitignore/>.
#
# Notes:
#   - `x` is equivalent to `**/x`, in contrast to `.dockerignore` and `.prettierignore`.
#   - Always mark directories with a `/` suffix.
#   - Per section, place directories above files; then sort lexicographically.
#     (Order (using regex): `/` ≺ `*` ≺ `[^A-Za-z0-9]` ≺ `[0-9]` ≺ `[A-Za-z]`.)

# Dotted files
.*

# General hidden or unwanted
*[~#$]
[~#$]*
*[.~]bak
*[.~]out
*[.~]swp
*[.~]temp
*[.~]tmp
*.log
*.pid
Thumbs.db

# Archives
*.7z
*.ear
*.gz
*.jar
*.lz4
*.lzma
*.tar
*.tar.gz
*.tgz
*.war
*.xz
*.zip
*.zst

# Executables and libraries
*.dll
*.dylib
*.exe
*.msi
*.pkg
*.so

# IDEs
*.iml
*.pch
*.profdata
misc.xml

# Python
/build/
/dist/
/sdist/
__pycache__/
__pypackages__/
cython_debug/
*.py[cod]

# Java
/target/
/pom.xml.*
*.class
hs_err_pid*
local.properties
replay_pid*

# C and C++
*.a
*.gch
*.ko
*.lib
*.lo
*.o

# Make, CMake, automake, autoconf, pkg-config, etc.
_deps/
/_deps
*.la
*.pc
cmake_install.cmake
compile_commands.json
install_manifest.txt

# JavaScript and TypeScript
node_modules/
# TypeScript cache
tsconfig.tsbuildinfo

# Julia
*.jl.*.cov
*.jl.cov
*.jl.mem
deps/deps.jl

# Documentation
/docs/html/
/docs/_build/
/docs/autoapi/
/htmlcov/
/site/

# Coverage
/coverage.*
/coverage/

# IPython
profile_default/
ipython_config.py

# Django
/db.sqlite3
/db.sqlite3-journal
/local_settings.py

# Celery
celerybeat-schedule

# Terraform
override.tf
override.tf.json

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
#                             whitelist                             #
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#

# Git
!/.git-blame-ignore-revs
!/.gitattributes
!/.gitmodules

# Template files
.env.template

# `.ignore` files (e.g. `.dockerignore`, `.npmignore`)
!/.*ignore

# GitHub
!/.github/
!/.nojekyll

# CI
!/.circleci/

# Linters
!/.editorconfig
!/.prettierrc*

# External service config
!/.*.yaml
!/.*.yml
!/.*.toml
!/.*/[A-Za-z0-9_-]*.yaml
!/.*/[A-Za-z0-9_-]*.yml
!/.*/[A-Za-z0-9_-]*.toml
