# Prettier automatically uses .gitignore as well.

# Note: Patterns are absolute, like `.dockerignore` but in contrast to `.gitignore`.

# Conda recipes aren't real YAML files.
recipes/*.yaml

# Helm chart templates aren't real YAML files.
**/chart/templates/*.yaml
**/helm/**/templates/*.yaml

# SVG files should probably be minified instead.
**/*.svg
